<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><h1>Blog</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
              <button class="btn btn-outline-success me-2" type="button" style="color: black; border-color: black; padding: 10px 30px;">Главная</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/science">
              <button class="btn btn-outline-success me-2" type="button" style="color: black; border-color: black; padding: 10px 40px;">Наука</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sport">
            <button class="btn btn-outline-success me-2" type="button" style="color: black; border-color: black; padding: 10px 40px;">Спорт</button>
          </a>
        {% if user.is_authenticated %}

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-post">
            <button class="btn btn-outline-success me-2" type="button" style="color: black; border-color: dodgerblue; padding: 10px 40px;">Создать пост</button>
          </a>
        </li>
      </ul>
    {% endif %}
    {% if user.is_authenticated %}
         </div>
      <form class="d-flex">
      <a class="nav-link" href={% url 'logout' %}>
            <button class="btn btn-outline-success me-2" type="button" style="color: black; border-color: green; padding: 10px 40px;"> Выйти </button>
       </a></form>
        </div>
    {% else %}
        </div>
            <form class="d-flex">
                <a class="nav-link" href={% url 'login' %}>
                    <button class="btn btn-outline-success me-2" type="button" style="color: black; border-color: green; padding: 10px 40px;"> Войти </button>
                </a>

            <a class="nav-link" href={% url 'register' %}>
                <button class="btn btn-outline-success me-2" type="button" style="color: black; border-color: green; padding: 10px 40px;"> Регистрация </button>
            </a></form>
        </div>
    {% endif %}




</nav>

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
        {% block content %}

        {% endblock %}
    </div>
    <div class="col-1"></div>
  </div></div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>