{% extends "base.html" %}

{% block content %}
<h1 style="margin-top: 3%; margin-bottom: 2%">Новые посты</h1>
    <div class="container" style="margin-bottom: 100px">
    {% for post in blogposts_list %}


        <div class="conteiner" style=" margin-top: 5%; margin-bottom: 2%">
        <h2><a href="{% url "post" post.post_slug%}", style="text-decoration: none; color: black;">{{ post.title }}</a>
        </h2></div>
        <div class="conteiner" >
{#        style="background-color: gainsboro;"#}
            <div>
                <a href="{% url "post" post.post_slug%}">
                <img src="{{ post.into_image.url }}" class="img-fluid img-thumbnail.div", alt="Картинка не доступна("
             style="max-height: 500px; display: block;margin-left: auto;margin-right: auto;width: auto; ">
                </a>
            </div>
        </div>
        <div class="container">
            Автор : {{ post.author.first_name}} <br>
            Созданно : {{ post.published_time }} <br>
            Категория : {{ post.get_category_display }} <br>
        </div>
        <div class="conteiner" style="margin-top: 15px">
            <h4 style="text-align: justify;">
                {{ post.into_text }}
            </h4>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url "post" post.post_slug%}">
                <button type="button" class="btn btn-secondary btn-sm">Прочитать</button>
            </a></div>
        </div>

    {% endfor %}
    </div>

<nav class="pages">
<ul class="pagination justify-content-center" style="margin-bottom: 10%">
    {% for page in paginator.page_range %}
        {% if page_obj.number == page %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="{{ page }}">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
</nav>



{% endblock %}